@use '../../../../styles/variables' as *;

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  width: 100%;
  padding-bottom: 40px;

  @include md {
    row-gap: 30px;
    padding-bottom: 55px;
  }

  @include lg {
    padding-bottom: 65px;
  }
}
