// Цвета
$brand: #518581;
$brand-hover: #86aaa7;
$brand-active: #487773;
$brand-disabled: #d9d9d9;
$brand-white: #ffffff;
$font-hover: #afadb5;

// Отступы
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

// Прочее
$border-radius: 0;

// Брейкпоинты для медиа-запросов
$bp-sm: 375px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1440px;

// Миксины: от какого размера экрана применять стили
@mixin sm {
  @media (min-width: $bp-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $bp-lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $bp-xl) {
    @content;
  }
}
