@use 'styles/variables' as *;

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: $border-radius;
  overflow: hidden;
  width: 348px;
  flex: 1;
  min-height: 0;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 320px;
  }
}

.imgPlacehold {
  width: 348px;
  height: 348px;
  background-color: $brand-disabled;

  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    height: 280px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 320px;
    height: 320px;
  }
}

.imgCard {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.cardCaptionSlot {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $font-hover;
  font-weight: 500;
  font-style: medium;
}

.cardTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.cardSubtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $font-hover;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.cardContentSlot {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
  padding: $space-xl $space-xs $space-l $space-xs;
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px $space-xs $space-xl $space-xs;
}

.cardActionSlot {
  display: block;
}
